html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 56px;
  font-family: 'Open Sans', sans-serif !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

input {
  width: 100%;
}

.content {
  position: relative;
  top: calc(45vh - 56px);
  transform: translateY(-50%);
  transition: top 0.5s;
}

.primary {
  background-color: #19171C;
}

.secondary {
  background-color: #0F0E11;
}

.purple {
  background-color: #6441A4 !important;
}

.following-card {
  transition: transform 0.1s;
}

.following-card:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none !important;
}
